body{
    background: #BDBDBD;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-bg-light-black{
    background-color: #232323
}
.navbar-bg-light-gray{
    color: #A0A0A0
}
.navbar-bg-light-gray:hover{
    color: #828282
}
.navbar-font-size{
    font-size: 14px;
}
.navbar-height-size{
    height: 50px;
}
.tagline-h1{
    font-weight: 600;
    font-size: 130px;
    text-align: center;
    position: relative;
    bottom: 120px;
}
.tagline-h2{
    font-size: 70px;
    text-align: center;
    position: relative;
    bottom: 120px;
}
.tagline-jumbotron {
    background: url(./website1/assets/img/bg.jpg) no-repeat, center, center;
    background-position-y: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}