<!--https://github.com/vcompanyb/exercise-collaborative-html-website -->
<div class="bg-white">
    <div class="container">
    <h2> Porfolio</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequuntur molestiae, inventore sequi ex error deleniti temporibus, ullam, esse nostrum minus. Repellendus quas libero fugit enim ad doloribus laboriosam consequatur.</p>
        <div class="row">
        <div class="card col-4 border-0" >
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="no se puede ver la imagen">
            <div class="card-body pl-0">
                <p class="card-text text-info lead font-weight-bold">Project Name</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ab? Veritatis enim eum.</p>
            </div>
        </div>
    
        <div class="card col-4 border-0" >
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="no se puede ver la imagen">
            <div class="card-body pl-0">
                <p class="card-text text-info lead font-weight-bold">Project Name</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ab? Veritatis enim eum.</p>
            </div>
        </div>
        <div class="card col-4 border-0" >
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="no se puede ver la imagen">
            <div class="card-body pl-0">
                <p class="card-text text-info lead font-weight-bold">Project Name</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ab? Veritatis enim eum.</p>
            </div>
        </div>
        </div>

    </div>


</div>